.index{
    // 2.导航菜单栏
    .navs{
        padding: 15px 0;
        text-align: center;
        background-color: #fff;
        img{
            width: 48px;               
        }
        p{
            padding: 5px;
        }
}
}