.citylist{
    padding-top: 45px; // 留出顶部位置 免得被遮住
    height: 100%;
}
// 1.导航样式
.navbar{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: #eee;
}
// 城市列表样式
.city{
    background-color: #fff;
    .title{
        padding: 10px 15px;
        font-size: 14px;
        color: #999;
    }
    .name{
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        font-size: 16px;
        color: #333;
        border-bottom: 1px solid #eee;
    }
}